[submodule "submodules/quickstart-atlassian-services"]
	path = submodules/quickstart-atlassian-services
	url = https://github.com/atlassian/quickstart-atlassian-services.git
	branch = DCD-1341-aurora-clean-up
[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
	branch = main
